@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F7;
  --foreground: #1E1E1E;
  --card: #FFFFFF;
  --border: #E7E5E4;
  --muted: #666666;
  --accent: #7A6A58;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}